@import './globals.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.65rem;
    margin: 2.1rem 0;
    padding: 0;
}

.left {
    display: flex;
    height: 100%;
}

.left input {
    display: block;
    min-height: 100%;
    width: 20rem;
    border-radius: 0.8rem;
    color: $dark-1;
    border: 1px solid $gray;
    padding-left: 3.5rem;
    margin: 0 4rem;
    background: url("../public/images/search.svg") no-repeat left;
    background-size: 2rem;
    background-position: 5%;
}

.left input:focus {
    border: 2px solid $green-2;
}

.header button {
    @include button;
    background-color: $green-1;
    width: 9.1rem;
}

.header button:hover {
    background-color: $green-2;
}

.logo {
    width: fit-content;
    max-height: 100%;
    background: url("../public/images/person.svg") no-repeat left;
    background-size: 2.5rem;
    padding: .8rem 0 0 2.5rem;
}

.logo h1 {
    color: $dark-1;
    font-size: .95rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.logo p {
    margin: 0;
    padding: 0;
    color: $dark-1;
    font-size: .6rem;
    font-weight: 500;
}